.notificaciones-detail {
  position: relative;
  display: inline-block;
}

.notificaciones-container {
  display: flex;
  align-items: center;
  position: relative;
  animation: none !important;
  transition: none !important;
}

.notificaciones-button {
  background: none;
  border: none;
  padding: 8px;
  cursor: pointer;
  color: #d1d0d0;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 6px;
  transition:
    background-color 0.2s ease,
    color 0.2s ease;
  font-size: 20px;
  position: relative;
  animation: none !important;
  size: 32px;
}

.notificaciones-button:hover {
  background-color: var(--primary-purple);
  color: var(--primary-white);
}

.notificacion-badge {
  position: absolute;
  top: -5px;
  right: -5px;
  background: #b30000;
  color: #ffffff;
  border-radius: 50%;
  padding: 2px 6px;
  font-size: 12px;
}

.notificaciones-dropdown {
  position: absolute;
  right: 0;
  top: 100%;
  width: 650px;
  background-color: #ffffff;
  border: 1px solid #ccc;
  border-radius: 8px;
  box-shadow: 0 4px 12px rgba(0, 0, 0, 0.15);
  z-index: 1000;
  max-height: 1300%;
  overflow-y: auto;
  padding: 8px 0;
  
  transition: all 0.2s ease-in-out;
}
.notificacion {
  padding: 12px 16px;
  background-color: #fff;
  border: 1px solid #e0e0e0;
  border-radius: 5px;
  margin: 15px;
  transition: background-color 0.2s, transform 0.2s;
}

.notificacion:hover {
  background-color: #f5f5f5;
  transform: translateY(-1px);
}

.no-leida {
  background-color: #e9ecef;
  color: #1a1a1a;
  border: 1px solid #adb5bd;
  border-radius: 8px;
  padding: 8px 12px;
  box-shadow: 0 1px 3px rgba(0, 0, 0, 0.1);
  transition:
    background-color 0.25s ease,
    box-shadow 0.25s ease;
}

.no-leida:hover {
  background-color: #ffffff;
  box-shadow: 0 2px 6px rgba(0, 0, 0, 0.12);
}

.leida {
  background-color: #f8f9fa;
  color: #333;
  border: 1px solid #ced4da;
  border-radius: 8px;
  padding: 8px 12px;
  transition: background-color 0.25s ease;
}

.leida:hover {
  background-color: #ffffff;
}

.marcar-leida-btn {
  background: #007bff;
  color: white;
  border: none;
  padding: 4px 8px;
  border-radius: 4px;
  cursor: pointer;
  margin-top: 8px;
}

.marcar-leida-btn:hover {
  background: #0056b3;
}

h4 {
  margin: 8px;
  color: #666;
}

.no-leidas-section{
  color: #000000;
  background-color: #ffffff;
}
.leidas-section{
  color: #6b6b6b;
  background-color: #ffffff;
}

.no-leidas-label {
  color: #fff;
  background-color: #ff6b6b; 
  border-radius: 15px;
  padding: 2px 8px;
  font-weight: 600;
  font-size: 0.85rem;
}
.leidas-label {
  color: #fff;
  background-color: #4cd964; 
  border-radius: 15px;
  padding: 2px 8px;
  font-weight: 600;
  font-size: 0.85rem;
}
