.login-container {
    display: flex;
    align-items: center;
}

.login-button {
    background: none;
    border: none;
    padding: 8px;
    cursor: pointer;
    color: #d1d0d0;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 6px;
    transition: all 0.2s ease;
    font-size: 20px;
    margin-right: -25px;
}

.login-button:hover {
    background-color: var(--primary-purple);
    color: var(--primary-white);
}
